<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Att göra</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/> 
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Exo:wght@800&family=Roboto&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;700;800&family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div id="headline">
      <span>Att göra</span>
    </div>
    <div id="container">
   
 
<div id="addData">
    <%- include("addData.ejs") %> 
  </div>
<div id="sorting">
    <a href="/?page=<%=(dataToShow/dataToShowPerReq)%>&&sorted=-1"> Datum(Senast) </a>
    <a href="/?page=<%=(dataToShow/dataToShowPerReq)%>&&sorted=1"> Datum(Tidigast)  </a>
  </div>
    <% for(let i=0; i<data.length; i++) { %>

    <div id="todoList">
      <div id="todoName">  <%= data[i].name %> </div>
      <div id="todoDate"> <%= data[i].date.toDateString() %></div>

       <div id="changeTodo"> <a href="/edit/<%= data[i]._id %>" > <i class="fas fa-edit"></i>
       </a> </div>
       <div id="deleteTodo"> <a href="/delete/<%= data[i]._id %>"  > <i class="fas fa-trash-alt"></i></a> </div>

      </div>
       
         
      <% } %>

<div id="pagination">
      <% if(totalDataPart !== dataToShow/dataToShowPerReq) { %>

        <a href="/?page=<%=(dataToShow/dataToShowPerReq) +1%>"> 
            Visa flera
          </a>
      <% } else {   %>

        <a href="/?page=1"> 
            Visa färre
          </a>

      <% } %>

    </div>

    </div>
  </body>
</html>
