<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Att göra</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo:wght@800&family=Roboto&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Exo:wght@400;700;800&family=Roboto&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body id="indexBody">
    <div class="welcome">
      <span>Välkommen <%= user.name %></span>
    </div>
    <div class="headline">
      <span>Att göra</span>
    </div>
    <div id="addData"><%- include("addData.ejs") %></div>
    <div id="toDoList">
      <div id="todoHeadlines">
        <span id="name">Namn</span>

        <a id="date" href="/sort/<%= page %><%=sorted%>">
          <span>Datum (Skapad)<i class="fas fa-sort"></i> </span
        ></a>
      </div>

      <% toDos.forEach( todo => { %>

      <div class="todoRow">
        <div class="todoName"><%= todo.name %></div>
        <div class="todoDate"><%= todo.date.toDateString() %></div>

        <div class="changeTodo">
          <a href="/edit/<%= todo._id %>"> <i class="fas fa-edit"></i> </a>
        </div>
        <div class="deleteTodo">
          <a href="/delete/<%= todo._id %>">
            <i class="fas fa-trash-alt"></i
          ></a>
        </div>
      </div>
      <% }) %>
    </div>
    <% if (toDos.length > 4) { %>
    <a class="pagination" href="/next/<%= page %><%=sorted%>">
      <i class="fas fa-chevron-right"></i>
    </a>

    <% } else { %>
    <a hidden class="pagination" href="/next/<%= page %><%=sorted%>"> </a>
    <% } if (page > 1) { %>
    <a class="pagination" href="/previous/<%= page %><%=sorted%>">
      <i class="fas fa-chevron-left"></i
    ></a>
    <% } %>
    <a id="logout" href="/logout">Logga ut</a>
  </body>
</html>
